/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

header {
    background-color: #EAC926;

}

.logo{
    margin: 20px;
    width:180px;
}

.search-div{
    display: flex;
    width: fit-content;
    margin-left: 20px;
}

.icono-busqueda{
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
    background-color: #fff;
}

.menu {
    
    width: fit-content;
    margin-left: 41%;
    background-color: #1259c3;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa-bars{
    padding: 15px;
    color: #fff;
    font-size: 30px; 
}

.icono-mano{
    text-align: center;
}

.nav {
    font-size: 12px;
}

.listas ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

ul{
    margin-top: 20px;
}

img{
    width: 200px;
}

section{
    text-align: center;
}

.fa-credit-card{
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 10px;
    color:#1259c3;
}


.fa-gift{
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 10px;
    color:#1259c3;
}

.fa-user-shield{
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 10px;
    color:#1259c3;
}

.text-footer{
    color:#666;
}
.footer-paragraph{
    color:  #666;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

